#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            = link_to "Создано специально для лучшего коуча по 'Битве замков'", "https://vk.com/id406120590"
            %br/
            и ее гильдии #{link_to "MirasveT", "https://vk.com/club93243160"}
            %br/
            © #{Time.now.year} - Время побеждать с лучшими!
