%li
  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Здания
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => "#"} Ресурсы
      %li
        %a{:href => "#"} Атака
      %li
        %a{:href => "#"} Оборона
%li
  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Герои
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => "#"} Обычные
      %li
        %a{:href => "#"} Редкие
      %li
        %a{:href => "#"} Уникальные
%li
  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Войска
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => "#"} Наземные
      %li
        %a{:href => "#"} Летающие
%li
  = link_to "Новая статья", new_article_path
