<li>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Здания
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Ресурсы</a></li>
      <li><a href="#">Атака</a></li>
      <li><a href="#">Оборона</a></li>
    </ul>
  </div>
</li>
<li>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Герои
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Обычные</a></li>
      <li><a href="#">Редкие</a></li>
      <li><a href="#">Уникальные</a></li>
    </ul>
  </div>
</li>
<li>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Войска
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Наземные</a></li>
      <li><a href="#">Летающие</a></li>
    </ul>
  </div>
</li>
